<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Bonjour</h1>
    <p> Bienvenu sur la database madbb</p>

    <p> Merci de choisir une option : </p> 

    <a href="http://localhost:5000/all_users"> Cliquez pour voir l'ensemble des utilisateurs</a>

    <br>
    
    <a href="http://localhost:5000/add_user_template/"> Cliquez pour ajouter un utilisateur </a>
    
</body>
</html>