<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
        <title>Document</title>
        {% endblock %}
    </head>

    <body>

        {% block content %}

        <form action="http://localhost:5000/insert_user" method="post">

            <label> id_utilisateur
                <input type="text" name="id_utilisateur">
            </label>
            <label> nom
                <input type="text" name="nom">
            </label>
            <label> prenom
                <input type="text" name="prenom">
            </label>
            <label> adresse
                <input type="text" name="id_adresse">
            </label>

            <input type="submit" value="envoyer">

        </form>



        <a href="http://localhost:5000"> lien vers page d'accueil</a>

        {% endblock %}
    </body>

</html>